// Functional color variables
$color_blue: #177DFB;
$color_blue_secondary: #D1E5FE;
$color_lightblue: #2BC2FD;
$color_green: #73C37A;
$color_orange: #FE6520;
$color_lightgray: #EEEEEE;
$color_text: #707070;
$color_white: #FFFFFF;

// Fonts
$font_hind: 'Hind', sans-serif;
$font_montserrat: 'Montserrat', sans-serif;
$font_regular: 400;
$font_medium: 500;
$font_bold: 700;